body {
  font-family: Palatino;
}

#new-item-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* #new-item-form form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} */

.form-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#reading-list {
  display: flex;
}
 

